{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Scientific Name</th>
            <th>Suborder</th>
            <th>Superfamily</th>
            <th>Family</th>
            <th>Genus</th>
            <th>Species</th>
            <th>Sources</th>
            <th>Counties</th>
            <th>State</th>
            <th>Common Names</th>
            <th>Synonyms</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            ajax: '/api/data',
            serverSide: true,
            colReorder: true,
            pageLength: 50,
            dom: 'Bfrtip',
            buttons: [{ extend: 'colvis', text: 'hide/show columns' }],
            columns: [
                { data: 'scientific_name' },
                { data: 'sub_order', visible: false },
                { data: 'super_family', visible: false },
                { data: 'family', visible: false },
                { data: 'genus', visible: false },
                { data: 'species', visible: false },
                { data: 'sources', visible: false },
                { data: 'counties' },
                { data: 'state', visible: false },
                { data: 'common_names', visible: false },
                { data: 'synonyms', visible: false }
            ],
        });
    });
</script>
{% endblock %}