{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Family</th>
            <th>Genus</th>
            <th>Scientific Name</th>
            <th>Common Name</th>
            <th>Sources</th>
            <th>Known County Records</th>
            <th>Synonyms</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    function format(d) {
        return (
            '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Species</td>' +
            '<td>' +
            d.scientific_name +
            '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Family:</td>' +
            '<td>' +
            d.family +
            '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Genus:</td>' +
            '<td>' +
            d.genus +
            '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Sources:</td>' +
            '<td>' +
            d.sources +
            '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Counties:</td>' +
            '<td>' +
            d.counties +
            '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Notes:</td>' +
            '<td>' +
            d.notes +
            '</td>' +
            '</table>'
        );
    }
    $(document).ready(function () {
        var table = $('#data').DataTable({
            ajax: '/api/data',
            serverSide: true,
            colReorder: true,
            pageLength: 50,
            dom: 'Bfrtip',
            buttons: [{ extend: 'colvis', text: 'hide/show columns' }],
            columns: [
                { className: 'dt-control', orderable: false, data: null, defaultContent: '' },
                { data: 'family' },
                { data: 'genus', visible: false },
                { data: 'scientific_name' },
                { data: 'common_names', orderable: false },
                { data: 'sources', visible: false, orderable: false },
                { data: 'counties', visible: false, orderable: false },
                { data: 'synonyms', visible: false, orderable: false },
                { data: 'notes', visible: false, orderable: false }
            ],
        });
        $('#data tbody').on('click', 'td.dt-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });
    });
</script>
{% endblock %}